@font-face {
  font-family: 'Nunito';
  font-weight: 400;
  font-style: normal;
  src: local('Nunito'), url('Nunito-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Nunito';
  font-weight: 500;
  font-style: normal;
  src: local('Nunito'), url('Nunito-Medium.ttf') format('truetype');
}

@font-face {
  font-family: 'Nunito';
  font-weight: 700;
  font-style: normal;
  src: local('Nunito'), url('Nunito-Bold.ttf') format('truetype');
}

 